In [12]:
import pandas as pd 
file_path = "fuel price.csv"
df= pd.read_csv(file_path)
df.head()

,Unnamed: 0,Date,Pump price in pence/litre (ULSP),Pump price in pence/litre (ULSD),Duty rate in pence/litre (ULSP),Duty rate in pence/litre (ULSD),VAT percentage rate (ULSP),VAT percentage rate (ULSD)
0,2,2003-06-09,74.59,76.77,45.82,45.82,17.5,17.5
1,3,2003-06-16,74.47,76.69,45.82,45.82,17.5,17.5
2,4,2003-06-23,74.42,76.62,45.82,45.82,17.5,17.5
3,5,2003-06-30,74.35,76.51,45.82,45.82,17.5,17.5
4,6,2003-07-07,74.28,76.46,45.82,45.82,17.5,17.5

In [11]:
# Преобразование колонки Date в формат datetime
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

# Задание диапазона дат
start_date = '2018-01-01'
end_date = '2020-12-31'

# Фильтрация данных
filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

# Сохранение отфильтрованных данных в новый файл
filtered_file_path = "filtered_fuel_price.csv"
filtered_df.to_csv(filtered_file_path, index=False)

print(f"Фильтрованные данные сохранены в файл: {filtered_file_path}")

Фильтрованные данные сохранены в файл: filtered_fuel_price.csv

In [13]:
import pandas as pd 
file_path = "news.csv"
df= pd.read_csv(file_path)
df.head()

,date,text,label
0,2018-01-04T15:35:56,Farmers will get subsidies for turning fields ...,politic
1,2018-01-04T15:35:57,Vanuatu bans non-biodegradable plastic to prot...,politic
2,2018-01-04T17:00:49,Ex-British PM Tony Blair ups calls for Labour ...,politic
3,2018-01-04T17:00:50,UK's Tony Blair argues voters deserve another ...,politic
4,2018-01-04T18:01:34,Germany had so much renewable energy over Chri...,politic

In [15]:
# Преобразование колонки даты во временной формат
df['date'] = pd.to_datetime(df['date'])

# Указание диапазона дат
start_date = '2018-01-01'
end_date = '2020-12-31'

# Фильтрация данных
filtered_df = df[(df['date'] >= start_date) & (df['date'] <= end_date)]

# Сохранение отфильтрованных данных
filtered_file_path = "filtered_news.csv"
filtered_df.to_csv(filtered_file_path, index=False)

print(f"Фильтрованные данные сохранены в файл: {filtered_file_path}")

Фильтрованные данные сохранены в файл: filtered_news.csv

In [19]:
import pandas as pd

# Загрузка данных
file_path = "BrentOilPrices.csv"
df = pd.read_csv(file_path)
df.head()

        Date  Price
0  20-May-87  18.63
1  21-May-87  18.45
2  22-May-87  18.55
3  25-May-87  18.60
4  26-May-87  18.63

In [20]:

# Преобразование колонки даты во временной формат с обработкой ошибок
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Проверка на наличие некорректных значений
if df['Date'].isna().any():
    print("Некоторые даты не были преобразованы корректно. Проверьте данные:")
    print(df[df['Date'].isna()])

# Указание диапазона дат
start_date = '2018-01-01'
end_date = '2020-12-31'

# Фильтрация данных
filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

# Сохранение отфильтрованных данных
filtered_file_path = "filtered_BrentOilPrices.csv"
filtered_df.to_csv(filtered_file_path, index=False)

print(f"Фильтрованные данные сохранены в файл: {filtered_file_path}")

# Проверка результата
print(filtered_df.head())

C:\Users\Administrator\AppData\Local\Temp\ipykernel_25572\1744279538.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

Фильтрованные данные сохранены в файл: filtered_BrentOilPrices.csv
           Date  Price
7772 2018-01-02  66.65
7773 2018-01-03  67.85
7774 2018-01-04  68.73
7775 2018-01-05  68.01
7776 2018-01-08  68.48

In [26]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from nltk.sentiment import SentimentIntensityAnalyzer
import nltk

# Убедимся, что необходимые ресурсы загружены
nltk.download('vader_lexicon')

# Загрузка данных
oil_price_path = 'BrentOilPrices.csv'
news_path = 'news.csv'

# Чтение данных
oil_data = pd.read_csv(oil_price_path)
news_data = pd.read_csv(news_path)

# Приведение колонок к нижнему регистру
oil_data.columns = oil_data.columns.str.lower()
news_data.columns = news_data.columns.str.lower()

# Преобразование даты в формат datetime
oil_data['date'] = pd.to_datetime(oil_data['date'], errors='coerce')
news_data['date'] = pd.to_datetime(news_data['date'], errors='coerce')

# Удаление времени из столбца date в news_data и oil_data
news_data['date'] = news_data['date'].dt.date
oil_data['date'] = oil_data['date'].dt.date

# Удаление строк с некорректными датами
oil_data = oil_data.dropna(subset=['date']).sort_values('date')
news_data = news_data.dropna(subset=['date'])

# Нормализация цен на нефть
scaler = MinMaxScaler()
oil_data['price'] = scaler.fit_transform(oil_data[['price']])

# Анализ тональности текстов
sia = SentimentIntensityAnalyzer()
news_data['sentiment'] = news_data['text'].fillna("").apply(lambda x: sia.polarity_scores(x)['compound'])

# Проверка диапазона дат
oil_date_range = (oil_data['date'].min(), oil_data['date'].max())
news_date_range = (news_data['date'].min(), news_data['date'].max())
print(f"Oil data date range: {oil_date_range}")
print(f"News data date range: {news_date_range}")

# Ограничение данных общим диапазоном дат
common_start_date = max(oil_date_range[0], news_date_range[0])
common_end_date = min(oil_date_range[1], news_date_range[1])

oil_data_filtered = oil_data[(oil_data['date'] >= common_start_date) & (oil_data['date'] <= common_end_date)]
news_data_filtered = news_data[(news_data['date'] >= common_start_date) & (news_data['date'] <= common_end_date)]

# Объединение данных по дате
merged_data = pd.merge(oil_data_filtered, news_data_filtered, on='date', how='inner')

# Проверка итогового объединенного датасета
print(f"Rows in merged data: {len(merged_data)}")
print(merged_data.head())

# Сохранение подготовленных данных
merged_data.to_csv('processed_merged_data.csv', index=False)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
C:\Users\Administrator\AppData\Local\Temp\ipykernel_25572\2284971197.py:22: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  oil_data['date'] = pd.to_datetime(oil_data['date'], errors='coerce')

Oil data date range: (datetime.date(1987, 5, 20), datetime.date(2022, 11, 14))
News data date range: (datetime.date(2018, 1, 4), datetime.date(2024, 3, 31))
Rows in merged data: 71128
         date     price                                               text  \
0  2018-01-04  0.442195  Farmers will get subsidies for turning fields ...
1  2018-01-04  0.442195  Vanuatu bans non-biodegradable plastic to prot...
2  2018-01-04  0.442195  Ex-British PM Tony Blair ups calls for Labour ...
3  2018-01-04  0.442195  UK's Tony Blair argues voters deserve another ...
4  2018-01-04  0.442195  Germany had so much renewable energy over Chri...

     label  sentiment
0  politic    -0.7783
1  politic     0.2023
2  politic     0.1531
3  politic    -0.3818
4  politic    -0.0609

In [1]:
import pandas as pd 
file_path = "DATA_With_NLP.csv"
df= pd.read_csv(file_path)
df.head()

,date,price,text,label,sentiment
0,2018-01-04,0.442195,Farmers will get subsidies for turning fields ...,politic,-0.7783
1,2018-01-04,0.442195,Vanuatu bans non-biodegradable plastic to prot...,politic,0.2023
2,2018-01-04,0.442195,Ex-British PM Tony Blair ups calls for Labour ...,politic,0.1531
3,2018-01-04,0.442195,UK's Tony Blair argues voters deserve another ...,politic,-0.3818
4,2018-01-04,0.442195,Germany had so much renewable energy over Chri...,politic,-0.0609